<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>636399033551-0dd23coufihuj7pu8heh0i3of912qbru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.636399033551-0dd23coufihuj7pu8heh0i3of912qbru</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>636399033551-6kj406efa18mmkim9dk3ddvo1ijk93s9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAE_WM9g89vkjEZNjTl9_3Ns74H3mC7t90</string>
	<key>GCM_SENDER_ID</key>
	<string>636399033551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learnEcommerce</string>
	<key>PROJECT_ID</key>
	<string>flutter-e-commerce-d4e98</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-e-commerce-d4e98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636399033551:ios:b4798c2820ba6d0174ebba</string>
</dict>
</plist>